//Navigation Layout & Styles
@use '../base/variables' as var;

#navigation {
  z-index: 3000;
  width: 100%;
  background: var.$nav_bg_color;
}

.slicknav_menu {
  display: none;
}

.nav {
  margin: 0px auto;
  text-align: var.$nav_alignment;
}

#dnnMenu {
	display: inline-block;
}
	
#dnnMenu .topLevel {
	position:relative;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;

	li {
		float:left;
		margin:0;
		list-style-type:none;
		position:relative;
		margin-right: var.$nav_item_space_between;
		margin-top: 0px;

		&:last-of-type {
			margin-right: 0px;
		}

		a {
			display:block;
			color: var.$nav_item_color;
			font-size: var.$nav_item_font_size;
			font-weight: var.$nav_item_font_weight;
			text-decoration:none;
			text-align: center;
			padding: var.$nav_item_padding;
			box-sizing: border-box;
		}

		&:hover a, a:hover {
			color: var.$nav_item_hover_color;
			background: var.$nav_item_hover_bg_color;
			text-decoration:none;
		}

		&:hover .subLevel{
			// display:block;
			// white-space:nowrap;
			visibility: visible;
			opacity: 1;
		}
	}
}

#dnnMenu .subLevel {
	/*display:none;*/
	visibility: hidden;
	opacity: 0;
  	transition: visibility 0s, opacity 0.3s linear;
	position:fixed;
	left: 0;
	width:100%;
	margin:0;
	padding:38px 0;
	z-index:5000;
	background-color: var.$subnav_bg_color;
	height: 325px;

	ul {
		margin:0;
		padding:0;
		position:relative;
		z-index:1200;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-content: flex-start;
		height: 275px;

		li {
			float: left;
			border-top: 0px;
			width: 33.33%;
			padding: 0px 20px 0px 0px;
			border-bottom: none;
			min-width: auto !important;
			margin-right: 0;
			min-height: 50px;
			margin-bottom: 20px;

			a {
				display:block;
				color: var.$subnav_item_color !important;
				padding: var.$subnav_item_padding; 
				text-align: left;
				border: none !important;
				font-size: var.$subnav_item_font_size;
				font-weight: var.$subnav_item_font_weight;
				text-transform: none;

				&:hover {
					color: var.$subnav_item_hover_color;
					background-color: var.$subnav_item_hover_bg_color;
					border: none;
				}
			}
		}
	}
}

#dnnMenu .subLevelRight{
	display:block;
	width:100%;
	margin:0 0 0 0px;

	&.subLevelRight101 {
		display: none;
	}

	ul {
		display:block;
		height: 100%;

		li, li:hover {
			position:relative;
			float: left;
			width: 100% !important;
			padding: 0;
			min-height: auto;
			margin-bottom: 0;

			&:first-of-type {
				margin-left: 0;
			}

			a, a div {
				display:block;

				&:hover, &:hover div {
					display:block;
				}
			}
		}
	}
}