// Global Variables

// Site Variables

$navy: #0F3152;
$green: #68C187;
$tan: #C9C3AC;
$red: #F05252;
$blue: #3B5BA9;
$purple: #73479C;
$yellow: #F2AA20;

$primary_color: $navy;  
$secondary_color: $green;
$tertiary_color: $blue;   
$body_color: #000000;   
$color_option4: $red;   
$color_option5: $purple;  
$color_option6: $yellow;  

$container_width: 1280px;

$base_font_size: 1.6rem;
$primary_font: "Poppins", sans-serif;
$secondary_font: "Gantari", sans-serif;
$body_line_spacing: 24px;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

$body_weight: $regular;
$body_bg_color: #ffffff;

// Heading Variables

$heading_weight: $bold;
$heading_font: $primary_font;

$h1_font: $secondary_font;
$h1_font_size:5.4rem;
$h1_weight: 800;
$h1_color: #fff;
$h1_line_spacing: 65px;
//$h1_letter_spacing: #{calc(180 / 1000)}em;
$h1_letter_spacing: 0;
$h1_bottom_margin:0px;
$h1_top_margin: 55px;

$h2_font: $primary_font;
$h2_font_size:3.2rem;
$h2_weight: 500;
$h2_color: $blue;
$h2_line_spacing: 42px;
$h2_letter_spacing: 0;
$h2_bottom_margin:30px;
$h2_top_margin: 60px;

$h3_font: $primary_font;
$h3_font_size:2.6rem;
$h3_weight: 500;
$h3_color: $purple;
$h3_line_spacing: 40px;
$h3_letter_spacing:0;
$h3_bottom_margin:5px;
$h3_top_margin: 40px;

$h4_font: $primary_font;
$h4_font_size:2rem;
$h4_weight: 600;
$h4_color: $red;
$h4_line_spacing: 28px;
$h4_letter_spacing: 0;
$h4_bottom_margin:10px;
$h4_top_margin: 40px;

$h5_font: $primary_font;
$h5_font_size:1.8rem;
$h5_weight: 500;
$h5_color: $navy;
$h5_line_spacing: 26px;
$h5_letter_spacing: 0;
$h5_bottom_margin:15px;
$h5_top_margin: 0px;

//Link Variables

$link_color: $purple;
$link_weight: 600;
$link_style: underline;

$link_hover_color: $purple;
$link_hover_weight: 600;
$link_hover_style: none;

// Button Variables

$button_color: $navy;
$button_padding: 9px 30px 4px;
$button_font: $primary_font;
$button_font_size: 14px;
$button_font_weight: $bold;
$button_bg_color: transparent;
$button_border_color: $green;
$button_border_radius: 0px;

$button_hover_color: $navy;
$button_hover_font_weight: $button_font_weight;
$button_hover_bg_color: $green;
$button_hover_border_color: $green;

// Primary Button Variables

$button_primary_color: $navy;
$button_primary_font_weight: $button_font_weight;
$button_primary_bg_color: transparent;
$button_primary_border_color: $green;

$button_primary_hover_color: $navy;
$button_primary_hover_font_weight: $button_font_weight;
$button_primary_hover_bg_color: $green;
$button_primary_hover_border_color: $green;

// Secondary Button Variables

$button_secondary_color: $purple;
$button_secondary_font_weight: 600;
$button_secondary_bg_color: transparent;
$button_secondary_border_color: transparent;

$button_secondary_hover_color: $purple;
$button_secondary_hover_font_weight: 700;
$button_secondary_hover_bg_color: transparent;
$button_secondary_hover_border_color: transparent;

// Navigation Variables

$nav_bg_color: #fff;
//$nav_item_space_between: 20px;
$nav_alignment: right;

$nav_item_font: $primary_font;
$nav_item_color: $navy;
$nav_item_font_weight: 600;
$nav_item_font_size: $base_font_size;
$nav_item_padding: 8px 13px;
$nav_item_bg_color: transparent;

$nav_item_hover_color: $navy;
$nav_item_hover_bg_color: $green;

$subnav_bg_color: #fff;

$subnav_item_font: $primary_font;
$subnav_item_color: $navy;
$subnav_item_font_weight: 500;
$subnav_item_font_size: 14px;
$subnav_item_padding: 0px 0px 15px;
$subnav_item_bg_color: transparent;

$subnav_item_hover_color: $blue;
$subnav_item_hover_bg_color: transparent;


