@use '../base/variables' as var;
@import '../utilities/components';

//Mentor Page Styles and Layout

#body-content.mentor {
    #mentor-hero {
        width: 100%;
        background: url('../images/home-hero-bg.png'), var.$navy;
        background-position: top center;
        background-size: cover;
        height: 778px;
    
        h1 {
            color: var.$navy;
            font-size: 90px;
            margin-top: 159px;
            margin-bottom: 0;
    
            &.line2 {
                padding-left: 46px;
                margin-top: 0;
                margin-bottom: 0px;

                span {
                    -webkit-text-stroke: 1.5px var.$navy;
                }
            }
        }
    
        h2 {
            margin-top: 30px;
            margin-bottom: 37px;
        }
    
        p {
            margin-bottom: 0;
    
            .button {
                margin-bottom: 0;
            }
        }
    
        .color-wheel {
            width: 1065px;
            margin-top: -300px;
            position: absolute;
            z-index: 100;
            margin-left: -83px;
        }
    }

    h1 {  
        margin-bottom: 30px;
        font-size: 60px;
        line-height: 72px;
        margin-top: 0;
    }

    span {
        -webkit-text-stroke: 1.5px #fff;
    }

    h1.mentor {
        line-height: 60px;
        margin-bottom: 25px;
        color: var.$navy;
        text-align: center;
    }
    
    h1.mentor span {
        -webkit-text-stroke: 1.5px var.$navy;
    }

    #mentor-top {
        margin: 100px 0px 120px;

        .mentor-img {
            position: relative;
            height: 360px;

            img.mentor-image {
                position: absolute;
                left: 0;
                border-radius: 50%;
            }

            img.lines-yellow-purple {
                position: absolute;
                top: -25px;
                width: 408px;
                height: auto;
                left: -25px;
                transform: rotate(120deg);
            }
        }

        .mentor-text {
            h2 {
                margin-top: 0;
                margin-bottom: 15px;
            }

            p {
                font-size: 20px;
                line-height: 28px;
                font-weight: 500;
                color: var.$navy;
            }
        } 

        h1 {
            margin-bottom: 25px;
        }

        p {
            color: #fff;
            font-size: 20px;
            line-height: 28px;
        }
    }

    .callout.mentor {
        padding: 50px !important;
        font-style: normal !important;
        font-weight: initial !important;
        color: initial !important;
        max-width: 1064px;
        margin: 0 auto !important;

        h2 {
            margin-top: 0;
            margin-bottom: 15px;
            text-transform: lowercase;
        }

        p {
            font-size: 1.6rem;
            font-weight: 400;
            color: #000000;
            font-style: normal;
            line-height: 24px;
        }    
    }

    #findout-section {
        margin-bottom: -100px;
    }

    #objectives {
        background: var.$blue;

        h1 {
            text-align: center;
            margin-bottom: 0;
            margin-top: 25px;
        }

        .obj-row {
            margin: 50px 0px;

            .col-md-3 {
                text-align: center;
                padding: 0px 15px;

                h2 {
                    color: #fff;
                    text-transform: lowercase;	
                    margin-top: 20px;
                }

                p {
                    color: #fff;
                }
            }
        }
    }

    #milestones {
        padding: 100px 0px;
        background: rgba(201, 195, 172, 0.15);

        .timeline {
            position: relative;
            max-width: 1200px;
            margin: 50px auto 0;

            &::after {
                content: '';
                position: absolute;
                width: 6px;
                background-color: #0F3152;
                top: 0;
                bottom: 0;
                left: 50%;
                margin-left: -3px;
            }

            .container-box {
                padding: 10px 40px;
                position: relative;
                background-color: transparent;
                width: 50%;

                &::after {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    right: -12px;
                    background-color: #fff;
                    border: 4px solid #F2AA20;
                    top: 15px;
                    border-radius: 50%;
                    z-index: 1;
                }
            }

            .left-box, .right-box {
                &::before {
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 22px;
                    width: 0;
                    z-index: 1;
                    border: medium solid #fff;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent #fff;
                }
            }

            .left-box {
                left: 0;

                &::before {
                    right: 30px;
                }
            }

            .right-box {
                left: 50%;

                &::before {
                    left: 30px;
                }

                &::after {
                    left: -12px;
                }
            }

            .content {
                padding: 20px 30px;
                background-color: #fff;
                position: relative;

                h2 {
                    margin-top:0;
                }
            }
          }

          @media screen and (max-width: 600px) {
            .timeline {
                &::after {
                    left: 31px;
                }

                .container-box {
                    width: 100%;
                    padding-left: 70px;
                    padding-right: 25px;

                    &::before {
                        left: 60px;
                        border: medium solid #fff;
                        border-width: 10px 10px 10px 0;
                        border-color: transparent #fff transparent transparent;
                    }
                }

                .left-box::after, .right-box::after {
                    left: 15px;
                }

                .right-box {
                    left: 0%;
                }
            }
        }
    }

    #chairs {
        padding: 100px 0px;
        //background: rgba(201, 195, 172, 0.15); 
    }

    #mentor-bottom {
        margin-top: 75px;
        margin-bottom: 100px;

        .callout.mentor {
            background:var.$navy;

            h2 {
                color: #fff;
            }

            p {
                margin-bottom: 0;
                color: #fff;

                a.button-secondary {
                    color: #68c187 !important;
                }
            }
        }
    }

}
